/* 头部样式开始 */
header{
	background: #fff;
	/* position: absolute; */
}
header div>ul{
	margin-top: 35px;
}
header div>ul>li{
	position: relative;
	height: 56px;
	line-height: 56px;
	/* background: url(../img/navLine.gif) no-repeat right center; */
}
header div>ul>li:hover{
	background: rgba(4,45,61,.7);
	
}
header div>ul>li:hover a{
	color: white;
}
/* header div>ul>li:last-of-type{
	background: none;
} */
header div>ul>li>a{
	display: block;
	padding: 0 15px;
	font-size: 16px;
	color: #494a4d;
}
header #headDropDown{
	display: none;
	position: absolute;
	/* left: 20px; */
	top: 56px;
	background: rgba(4,45,61,.7);
}
header #headDropDown li{
	width: 110px;
	height: 50px;
	/* line-height: 50px; */
	font-size: 13px;
	/* background: rgba(4,45,61,.8); */
	background: #042d3d;
}
header #headDropDown li:hover{
	
	background: #5e80a1;
}
header #headDropDown li a{
	display: block;
	line-height: 50px;
	color: #fff;
}
header span{
	display: none;
	top: 5%;
	right: 7%;
	width: 32px;
	height: 32px;
	background: url(../img/navBtn.png) no-repeat;
}
@media screen and (min-width:320px) and (max-width:768px){
	header{
		height: 100px;
	}
	header span{
		display: block;
	}
	header>div{
		width: 100%!important;
	}
	
	header>div h1{
		width: 80%;
		margin-top: 20px;
	}
	header>div h1 a{
		display: block;
		width: 100%;
	}
	header>div h1 a img{
		width: 100%;
	}
	header>div ul{
		display: none;
		margin-top: 0;
		background: white;
		position: absolute;
		left: 0%;
		top: 12%;
		width: 100%;
		padding-bottom: 30px;
	}
	header>div ul li{
		float: none!important;
		display: block!important;
		margin: 0 auto;
		width: 50%;
		text-align: center;
		height: 40px;
		line-height: 40px;
		border-bottom: 1px dashed #042D3D;
	}
	header>div ul li ul{
		display: none;
	}
}
/* 头部样式结束 */

/* banner样式开始 */
.banner{
	height: 645px;
	background: url(../img/banner.gif) no-repeat;
	background-size: 100% 100%;
}
@media screen and (min-width:320px) and (max-width:768px) {
	.banner{
		height: 230px;
		background: url(../img/mobileBanner1.jpg) no-repeat;
		background-size: 100% 100%;
	}
	.banner>div{
		width: 100%;
		height: 230px;
	}
}
/* banner样式结束 */
.tit{
	height: 58px;
	line-height: 58px;
	background: url(../img/location.gif) no-repeat left center;
}
.tit:after {
    content: '';
    position: absolute;
	/* left: 10px; */
    top: 50%;
    background: #81969e;
    width: 900px;
    height: 1px;
	margin-left: 10px;
}
@media screen and (min-width:320px) and (max-width:768px){
	.tit{
		width: 100%;
		margin-top: 0;
		padding-left: 30px;
		background: url(../img/location.gif) no-repeat 15px center;
		/* background-size: 100% 1px; */
	}
	.tit:after{
		display: none;
	}
}
/* 概述样式开始 */
.survey div h2,
.reportContent div h2,
.studyClassify div>h2,
.researchInsight>div>h2,
.guide div h2,
.service div h2,
.cansultCase div h2{
	height: 60px;
	line-height: 60px;
}
.survey div i,
.reportContent div i,
.studyClassify div i,
.researchInsight div i,
.guide div i,
.service div i,
.cansultCase div i{
	width: 37px;
	height: 4px;
	background: #042d3d;
}
.survey div h5,
.reportContent div h5,
.studyClassify div h5,
.researchInsight div h5,
.guide div h5,
.service div h5,
.cansultCase div h5{
	height: 43px;
	line-height: 43px;
	color: #5a5c60;
}
.survey div p{
	line-height: 26px;
	padding: 0 40px;
}
@media screen and (min-width:320px) and (max-width:768px){
	.survey>div{
		width: 100%;
	}
	.survey div h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	.survey div h5{
		margin-bottom: 0;
	}
	.survey div p {
	    padding: 0 20px;
	}
}
/* 概述样式结束 */
/* 可行性研究报告主要内容样式开始 */
.reportContent ul li{
	width: 168px;
	height: 208px;
	/* cursor: help; */
}

.reportContent ul li:not(:last-child){
	margin-right: 44px;
}
.reportContent ul li:nth-of-type(1){
	background: url(../img/report1.gif) no-repeat;
	background-size: 100% 100%;
}
.reportContent ul li:nth-of-type(2){
	background: url(../img/report2.gif) no-repeat;
	background-size: 100% 100%;
}
.reportContent ul li:nth-of-type(3){
	background: url(../img/report3.gif) no-repeat;
	background-size: 100% 100%;
}
.reportContent ul li:nth-of-type(4){
	background: url(../img/report4.gif) no-repeat;
	background-size: 100% 100%;
}
.reportContent ul li:nth-of-type(5){
	background: url(../img/report5.gif) no-repeat;
	background-size: 100% 100%;
}
.reportContent ul li div{
	height: 174px;
	background: rgba(0, 0, 0, 0.5);
	opacity: 1;
	transition: .5s;
}
.reportContent ul li:hover div{
	opacity: 0;
}
.reportContent ul li a{
	width: 100%;
	height: 34px;
	line-height: 34px;
	background: #042d3d;
	cursor: auto;
}
@media screen and (min-width:320px) and (max-width:768px){
	.reportContent{
		margin-top: 30px;
	}
	.reportContent>div{
		width: 100%;
	}
	.reportContent div h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	.reportContent div h5{
		margin-bottom: 0;
	}
	.reportContent ul{
		padding: 0 2%;
		display: block;
		    /* justify-content: inherit; */
	}
	.reportContent ul li{
		width: 49%;
		float: left;
		margin-right: 0!important;
		margin-bottom: 8px;
		
	}
	.reportContent ul li:nth-of-type(2n){
		float: right;
	}
}
/* 可行性研究报告主要内容样式结束 */
/* 可研常见分类样式开始 */
.studyClassify{
	background: url(../img/banner2.gif) no-repeat;
	background-size: 100% 100%;
	/* margin-top: 130px; */
}
.studyClassify ul li{
	width: 275px;
	height: 320px;
	overflow: hidden;
}
.studyClassify ul li img{
	display: block;
	margin: 25px auto;
}
.studyClassify ul li h2{
	line-height: 50px;
	color: #042d3d;
}
.studyClassify ul li p{
	font-size: 13px;
	padding: 0 34px;
	/* height: 18px; */
	line-height: 18px;
	color: #042d3d;
}
.studyClassify>div>a{
	width: 151px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #042d3d;
	color: #042d3d;
	/* background: ; */
	right: 19%;
	bottom: 10%;
	transition: .5s;
}
.studyClassify>div>a span {
	position: relative;
	z-index: 2;
	font-size: 12px;
	transition: all .3s ease-out 0s;
	line-height: 40px;
	display: block;
}
.studyClassify>div>a:before {
	content: "";
	background: #CF000E;
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	width: 0;
	z-index: 1;
	transition: all .3s ease-out 0s;
}
.studyClassify>div>a:hover span {
		color: #fff;
	}
.studyClassify>div>a:hover:before {
	width: 100%;
}
.studyClassify>div>a:before {
			    background: #042d3d;
			}
.studyClassify>div>a:hover{
	/* background: #042d3d; */
	/* color: #fff; */
}
@media screen and (min-width:320px) and (max-width:768px){
	.studyClassify{
		margin-top: 30px;
		padding-top: 20px;
	}
	.studyClassify>div{
		width: 100%;
	}
	.studyClassify div h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	
	.studyClassify div h5{
		margin-bottom: 0;
	}
	.studyClassify div ul{
		padding: 0 3%;
	}
	.studyClassify ul li{
		width: 50%;
	}
	.studyClassify ul li img{
		margin: 0 auto;
		
	}
	.studyClassify div ul li h2{
		height: 30px;
		line-height: 30px!important;
	}
	.studyClassify ul li p{
		margin-top: 10px;
		text-align: left;
	}
	.studyClassify>div>a{
		bottom: 0;
	}
}
/* 可研常见分类样式结束 */
/* 研究与洞察样式开始 */
.researchInsight .tab_menu ul li,
.cansultCase .tab_menu ul li{
	width: 105px;
	height: 35px;
	line-height: 35px;
	color: #717171;
	border: 1px solid #042d3d;
}
.on{
	color: #fff!important;
	background: #042d3d;
}
.show{
	display: block;
}
.hide{
	display: none;
}
/* .researchInsight .tcLeft{
	width: 575px;
	padding: 0 35px;
}
.researchInsight .tcLeft img{
	display: block;
	margin: 0 auto;
}
.researchInsight .tcLeft h2{
	height: 40px;
	line-height: 40px;
	padding: 0 35px 0 25px;
}
.researchInsight .tcLeft p{
	line-height: 24px;
	padding: 0 35px 0 25px;
} */
.researchInsight .tcRight{
	/* width: 525px; */
	/* padding: 0 35px; */
}
.researchInsight .tcRight ul li,
.cansultCase .tcRight ul li{
	width: 50%;
	padding: 0 3%;
	/* height: 105px; */
}
.researchInsight .tcRight ul li h2,
.cansultCase .tcRight ul li h2{
	height: 30px;
	line-height: 30px;
}
.researchInsight .tcRight ul li p,
.cansultCase .tcRight ul li p{
	color: #5a5c60;
	line-height: 22px;
	transition: all .3s;
}
.researchInsight .tcRight ul li p:hover,
.cansultCase .tcRight ul li p:hover{
	color: #042d3d;
	font-weight: 600;
}
@media screen and (min-width:320px) and (max-width:768px){
	.researchInsight{
		/* padding-top: 30px; */
		/* padding: 30px 0; */
		padding: 30px 0 10px 0;
	}
	.researchInsight>div,
	.cansultCase>div {
		width: 100%;
	}
	.researchInsight div h2,
	.cansultCase>div h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	
	.researchInsight div h5,
	.cansultCase>div h5{
		margin-bottom: 0;
	}
	.researchInsight div .tab_menu ul,
	.cansultCase>div #tab_menu2 ul{
		display: flex;
	    justify-content: center;
	}
	.researchInsight div .tab_menu ul li,
	.cansultCase div #tab_menu2 ul li{
		margin-right: 10px;
	}
	.researchInsight div .tab_content,
	.cansultCase div #tab_content2{
		margin: 20px 0;
	}
	.researchInsight .tab_content ul li,
	.cansultCase #tab_content2 ul li{
		width: 100%;
		margin-bottom: 0;
	}
	.researchInsight div .tab_content ul li a h2,
	.cansultCase div #tab_content2 ul li a h2{
		font-size: 16px;
		height: 35px;
		line-height: 35px;
		/* text-align: center; */
		color: #3b2b23;
		padding-left: 30px;
		background: url(../img/dian2.jpg) no-repeat 13px center;
	}
	.researchInsight div .tab_content ul li a p,
	.cansultCase div #tab_content2 ul li a p{
		display: none;
	}
}
/* 研究与洞察样式结束 */
/* 可编写指南样式开始 */
.guide{
	background: #dfe5e7;
}
.guide ul li{
	width: 50%;
}
.guide ul li h4{
	cursor: pointer;
	line-height: 50px;
	padding-left: 56px;
	color: #042d3d;
	font-weight: 400;
	background: url(../img/Doubt.gif) no-repeat 17px center;
	background-size: 25px 25px;
}
.guide ul li h4:hover{
	text-decoration: underline;
}
.guide ul li a{
	width: 110px;
	color: #042d3d;
	line-height: 50px;
	background: url(../img/message.gif) no-repeat 17px center;
	background-size: 25px 25px;
}
.guide>div>div a{
	width: 128px;
	height: 37px;
	line-height: 37px;
	color: #042d3d;
	border: 2px solid #042d3d;
	margin-right: 65px;
	transition: all .5s;
}
.guide>div>div a:last-of-type{
	margin-right: 0;
}
.guide>div>div a:hover{
	border-color: #042d3d;
	color: #fff;
	background: #042d3d;
}
@media screen and (min-width:320px) and (max-width:768px){
	.guide>div{
		width: 100%;
	}
	.guide>div{
		width: 100%;
	}
	.guide>div>h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	.guide div h5{
		margin-bottom: 0;
	}
	.guide ul li{
		width: 100%;
		padding: 0 3%;
	}
	.guide ul li h4 {
	    padding-left: 35px;
	    background: url(../img/Doubt.gif) no-repeat left center;
	    background-size: 25px 25px;
	}
	.guide ul li a {
	    width: 100px;
	    /* color: #042d3d; */
	    /* line-height: 50px; */
	    background: url(../img/message.gif) no-repeat 5px center;
	    background-size: 25px 25px;
	}
	.guide>div>div{
		margin-top: 0;
	}
	.guide>div>div a{
		width: 100px;
		font-size: 12px;
	}
}
/* 可编写指南样式结束 */
/* 一站式服务流程样式开始 */
.service{
	background: #dfe5e7;
}
.service div ul{
	display: block;
}
.service div ul li{
	cursor: pointer;
	padding-top: 8px;
	width: 118px;
	height: 75px;
	margin-right: 130px;
	color: #07465e;
	background: url(../img/service1.gif) no-repeat;
}
.service div ul:first-of-type li:hover{
	color: #fff;
	background: url(../img/service2.gif) no-repeat;
}
.service div ul:last-of-type li:hover{
	color: #fff;
	background: url(../img/service4.gif) no-repeat;
}
.service div ul li:last-of-type{
	margin-right: 0;
}
.service div ul li h4{
	font-weight: bold;
}
.service div ul li h4:first-of-type{
	height: 20px;
	line-height: 20px;
	
}
.service div span{
	height: 8px;
	background:url(../img/jt1.gif) no-repeat right center;
}
.service div ul:last-of-type li{
	/* margin-left: 130px; */
	padding-top: 25px;
	margin: 0 0 0 130px;
	background: url(../img/service3.gif) no-repeat;
}
.service div ul:last-of-type li:first-of-type{
	margin-left: 260px;
}
#service2{
	display: none;
}
#service2>div div{
	padding-top: 8px;
	width: 118px;
	height: 75px;
	/* margin-right: 130px; */
	color: #07465e;
	background: url(../img/service1.gif) no-repeat;
}
#service2>div div:nth-of-type(1):hover,
#service2>div div:nth-of-type(3):hover,
#service2>div div:nth-of-type(5):hover,
#service2>div div:nth-of-type(7):hover{
	color: #fff;
	background: url(../img/service2.gif) no-repeat;
}
#service2>div div:nth-of-type(2):hover,
#service2>div div:nth-of-type(4):hover,
#service2>div div:nth-of-type(6):hover{
	color: #fff;
	background: url(../img/service4.gif) no-repeat;
}
#service2>div div:nth-of-type(2n){
	margin-left: 150px;
	padding-top: 25px;
	background: url(../img/service3.gif) no-repeat;
}

#service2>div span{
	display: block;
	width: 300px;
	height: 8px;
	
}
#service2>div span:not(:last-child){
	background:url(../img/wjt1.gif) no-repeat right center;
}
#service2>div span:last-of-type{
	background:url(../img/jt1.gif) no-repeat right center;
}
@media screen and (min-width:320px) and (max-width:768px){
	.service>div{
		width: 100%;
	}
	.service>div>h2{
		font-size: 22px;
		height: 50px;
		line-height: 50px;
	}
	.service div h5{
		margin-bottom: 15px;
	}
	#service1{
		display: none;
	}
	#service2{
		display: block;
		padding: 0 9%;
	}
}
/* 一站式服务流程样式结束 */
/* 您的需求样式开始 */
#demand {
	padding-top: 60px;
	height: 640px;
	background: url(../img/demand.gif) no-repeat center center fixed;
	background-size: 100% 100%;
}

#demand>div {
	height: 580px;
}
#demand>div>div:first-of-type {
	width: 525px;
	border-radius: 5px;
	padding-top: 35px;
}

#demand div div:first-of-type h2 {
	line-height: 50px;
}

#demand>div div:first-of-type p {
	height: 38px;
	line-height: 38px;
	/* color: #fff; */
}

#demand div:first-of-type form input {
	width: 229px;
	height: 48px;
	color: #999;
	font-size: 12px;
	border: 1px solid #042d3d;
	padding-left: 5px;
	margin: 0 10px 23px 0;
}

#demand div:first-of-type form textarea {
	width: 472px;
	height: 60px;
	color: #999;
	font-size: 12px;
	border: 1px solid #042d3d;
	padding: 5px;
}

#demand #note {
	position: absolute;
	top: 156px;
	line-height: 20px;
	padding: 3px 5px;
}
#demand div:first-of-type form>div a{
	width: 131px;
	height: 44px;
	line-height: 44px;
	background: #042d3d;
}
#demand>div>div:nth-of-type(2) {
	margin-left: 40px;
	width: 525px;
}

#demand div:nth-of-type(2) div {
	height: 70px;
	border-left: 4px solid #fff;
	margin: 70px 0 60px 0;
}

/* #demand div:nth-of-type(2) div h4 {
	color: #fff;
} */

/* #demand>div:nth-of-type(2) div h3 {
	color: #fff;
} */

#demand div:nth-of-type(2) ul li {
	width: 240px;
	height: 118px;
	border: 1px solid #fff;
}

#demand div:nth-of-type(2) ul li h3 {
	color: #545859;
	height: 118px;
	line-height: 118px;
	
	/* top: 50%;
	left: 50%;
	transition: .5s;
	transform: translate(-50%, -50%); */
}

#demand div:nth-of-type(2) ul li p {
	height: 118px;
	line-height: 118px;
	color: #fff;
	top: 50%;
	left: 50%;
	transition: .5s;
	transform: translate(-50%, -50%);
}
@media screen and (min-width:350px) and (max-width: 750px) {
	#demand {
		padding-top: 20px;
		height: 1000px;
	}

	#demand>div {
		width: 100% !important;
		padding: 5%;
		height: 1000px;
		/* position: relative; */
	}

	#demand>div>div:first-of-type {
		width: 100%;
		padding-top: 20px;
		/* padding-left: 30px; */
		display: block;
		float: none;
		margin: 0 auto;
	}

	#demand>div>div:last-of-type {
		/* display: none; */
		float: none;
	}

	#demand div div:first-of-type h2 {
		height: 30px;
		line-height: 30px;
		font-size: 26px;
	}

	#demand div div:first-of-type p {
		line-height: 50px;
	}

	#demand div:first-of-type form {
		padding: 5%;
	}

	#demand div:first-of-type form input {
		width: 250px;
		height: 35px;
		/* margin: 0 10px 15px 0; */
		margin: 0 auto 15px;
	}

	#demand div:first-of-type form textarea {
		width: 250px;
		height: 60px;
		color: #042d3d;
		font-size: 12px;
		border: 1px solid #042d3d;
		padding: 5px;
	}

	#demand #note {
		top: 220px;
	}
	#demand div:nth-of-type(2) div{
		margin: 10px auto;
	}
	#demand #demandR ul{
		width: 100%;
	}
	#demand #demandR ul li{
		
		width: 47%!important;
		margin-right: 5%;
	}
	#demand #demandR ul li:nth-of-type(2n){
		margin-right: 0;
	}
	#demand #demandR ul li h3{
		font-size: 50px;
	}
	#demand #demandR ul li p{
		font-size: 18px;
	}
}

.item-01 {
	position: relative;
	-webkit-animation: fadeInLeft 1s ease 0.5s 1 both;
}

.item-02 {
	position: relative;
	-webkit-animation: fadeInRight 1s ease 0.5s 1 both;
}

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}

	100% {
		opacity: 1;
		transform: none
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0)
	}

	100% {
		opacity: 1;
		-webkit-transform: none;
		transform: none
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}
/* 您的需求样式结束 */
/* 尾部样式开始 */
footer{
	height: 40px;
	line-height: 40px;
	background: #042d3d;
}
@media screen and (min-width:770px) {
	footer>div{
		display: flex;
		justify-content: center;
	}
}
@media screen and (min-width:320px) and (max-width:768px) {
	footer{
		margin-top: 0!important;
		height: auto;
		padding: 20px 0;
	}
	footer>div{
		width: 100%!important;
	}
	footer>div h2{
		display: block!important;
		margin-right: 0!important;
		text-align: center;
		float: none!important;
	}
	footer>div h3{
		display: block!important;
		float: none!important;
		text-align: center;
		margin-right: 0!important;
	}
}
/* 尾部样式结束 */





/* index2开始 */

/* index2结束 */